<StackLayout>
    <Label class="title" [text]="stat.name"></Label>

    <StackLayout [ngSwitch]="stat.type">
        <GridLayout *ngSwitchCase="statType.Text">
            <TextField [class.focused]="true" [text]="stat.answer" [hint]="stat.name" [returnKeyType]="returnType" (returnPress)="returnPress()" (loaded)="loadTextField($event.object)" (textChange)="onTextChange($event)"></TextField>
        </GridLayout>

        <GridLayout *ngSwitchCase="statType.Number">
            <TextField [class.focused]="true" [text]="stat.answer" [hint]="stat.name" keyboardType="number" [returnKeyType]="returnType" (returnPress)="returnPress()" (loaded)="loadTextField($event.object)" (textChange)="onTextChange($event)"></TextField>
        </GridLayout>

        <GridLayout *ngSwitchCase="statType.Switch">
            <Label text="switch"></Label>
        </GridLayout>
    </StackLayout>
</StackLayout>