/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.top-layout {
    .exit {
        color: $lose;
    }

    .save {
        color: gray;

        &.enabled {
            color: $win;
        }
    }
}

.main-label {
    color: $primary;
    font-size: 22;
    font-weight: 300;
    text-align: center;
    margin: 5;
    margin-bottom: 10;
}

.question-layout {
    Label {
        font-size: 16;
        color: $text-primary;
    }

    .far {
        font-size: 12;
        margin-top: 10;
    }
}

.add-field {
    font-size: 20;
    height: 50;
    margin-top: 10;
    margin-bottom: 10;
    background-color: #f5f5f5;
    border-radius: 2;
}

.stat-label {
    font-size: 18;
    color: black;
    text-align: center;
    margin: 5;
    margin-top: 10;

}
