/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.title {
    font-size: 20;
    text-align: center;
    margin-top: 10;
    margin-bottom: 20;
}

.listview {
    GridLayout {
        height: 50;

        Label {
            font-size: 24;
            text-align: center;
            font-weight: 400;
        }

        &.selected {
            background-color: $primary;
            color: #ffffff;
        }
    }
}

.add-field {
    font-size: 20;
    height: 50;
    margin-top: 10;
    margin-bottom: 10;
}

.plus {
    font-size: 26;
    color: $primary;
    vertical-align: middle;
    padding: 15;
}