<ActionBar class="action-bar">

    <!-- Android Menu -->
    <NavigationButton *ngIf="!showBack" ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>

    <!-- iOS Menu -->
    <ActionItem *ngIf="!showBack" icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>

    <!-- Android & iOS Back Button -->
    <NavigationButton *ngIf="showBack" android:android.systemIcon="ic_menu_back" (tap)="onAndroidBack()"></NavigationButton>

    <!-- Add action item -->
    <ActionItem *ngIf="showAdd" (tap)="onAdd()" ios.systemIcon="4" ios.position="right" android.systemIcon="ic_input_add" text="add"></ActionItem>

    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>
