@import '../../../app-variables';

.top_layout {
    .time-layout {
        text-align: center;
        margin-top: 10;
        margin-bottom: 10;

        .top {
            font-size: 16;
            color: black;
        }

        .time {
            font-size: 48;
            color: $primary;
            margin-top: -7;
            margin-bottom: -7;
        }

        .bottom {
            font-size: 18;
            color: black;
        }
    }

    Label {
        font-size: 18;
    }

    Button {
        height: 80;
        margin: 2;
        font-size: 18;
    }

    .session-btn {
        color: white;
        background-color: $primary;
    }
}

.btn-layout {
    margin-bottom: 10;

    Button {
        color: black;
    }
}