/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.main-label {
    font-size: 32;
    text-align: center;
    padding: 10;
    border-radius: 5;
    margin: 5;
    margin-bottom: 15;
    width: 100%;
}