/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

GridLayout {
    margin: 10;

    Label {
        color: $text-secondary;
        font-size: 26;

        &.selected {
            color: $primary;
        }
    }

    Switch {
        font-size: 30;
    }
}