// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.
// Font icon class
.fa {
    font-family: "FontAwesome";
}

Button {
    text-transform: none;
}

.modal-layout {
    margin: 10;
    background-color: #ffffff;

    TextField {
        border-bottom-width: 1;
        border-color: #333333;
        margin-bottom: 15;

        &.focused {
            border-bottom-width: 2;
            border-color: blue;
        }
    }
}

.primary-button {
    color: #ffffff;
    background-color: $primary;
    height: 70;
    font-size: 20;
    border-radius: 1;

    &:highlighted {
        background-color: darken( $primary, 10% )
    }
}

.primary-disable-button {
    color: #ffffff;
    background-color: $primary;
    height: 70;
    font-size: 20;
    border-radius: 1;

    &:disabled {
        background-color: $disabled-background;
        color: $disabled-color;
    }
}

.primary-box-button {
    color: $primary;
    background-color: #ffffff;
    height: 55;
    font-size: 20;
    border-radius: 1;
    border-color: $primary;
    border-width: 2;
    z-index: 0;
    margin: 5;

    &:highlighted {
        opacity: .5;
    }

    &.selected {
        background-color: $primary;
        color: #ffffff;
    }
}

.clear-button {
    font-size: 20;
    color: $primary;
    background-color: transparent;
    text-transform: none;
    border-width: 0;
    z-index: 0;
    margin: 0;
    padding: 0;
    height: 60;

    &:highlighted {
        color: lighten( $primary, 20% );
    }
}

.center {
    text-align: center;
    vertical-align: middle;
}

.Win {
    background-color: $win;
}

.Tie {
    background-color: $tie;
}

.Lose {
    background-color: $lose;
}

.Quit {
    background-color: $tie;
}
