/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.add-btn {
    width: 75%;
    height: 50;
    margin-top: 5;
    margin-bottom: 10;
}

.title {
    font-size: 20;
    text-align: center;
    margin-top: 10;
    margin-bottom: 20;
}

.listview {
    GridLayout {
        height: 50;

        Label {
            font-size: 24;
            text-align: center;
            font-weight: 400;
        }

        &.selected {
            background-color: $primary;
            color: #ffffff;
        }
    }
}

.edit {
    margin-right: 20;
    margin-left: 20;
    color: $primary;
}

.delete {
    margin-right: 20;
    margin-left: 20;
    color: $lose;
    border-color: $lose;
}

.add-field {
    font-size: 20;
    height: 50;
    margin-top: 10;
    margin-bottom: 10;
}

.selected-game-layout {
    text-align: center;
    margin: 15;

    .main-text {
        color: $primary;
        font-size: 30;
        font-weight: 400;
    }

    .sub-text {
        color: black;
        font-size: 18;
        margin-top: -5;
        margin-bottom: 5;
    }
}