/* Add mobile styles for the component here.  */
@import '../../../../app-variables';

.add-btn {
    width: 75%;
    height: 50;
    margin-top: 5;
    margin-bottom: 10;
}

.title {
    font-size: 20;
    text-align: center;
    margin-top: 10;
    margin-bottom: 20;
}

.listview {
    GridLayout {

        .game-name {
            color: $primary;
            font-size: 24;
            font-weight: 400;
            margin-left: 15;
            margin-top: 5;
        }

        .game-type {
            color: black;
            font-size: 16;
            margin-left: 15;
            margin-bottom: 5;
        }

        .fa {
            font-size: 26;
            width: 40;
            padding: 0;
        }

        .delete {
            margin-right: 10;
            margin-left: 10;
        }
        
        .icon-layout {
            vertical-align: middle;
        }

        &.selected {
            background-color: $primary;
            Label {
                color: #ffffff;
            }

            .edit {
                color: #ffffff;
            }

            .delete {
                color: #ef5350;
            }
        }
    }
}

.add-field {
    font-size: 20;
    height: 50;
    margin-top: 10;
    margin-bottom: 10;
}

.selected-game-layout {
    text-align: center;
    margin: 15;

    .main-text {
        color: $primary;
        font-size: 30;
        font-weight: 400;
    }

    .sub-text {
        color: black;
        font-size: 18;
        margin-top: -5;
        margin-bottom: 5;
    }
}